@{
}
@model LineIN.BFO.Web.Models.VendaVM

<h3 class="alert alert-primary">Informações Venda</h3>

<div class="form-group">
    <label for="exampleFormControlSelect1">Selecione o Cliente</label>
    <select class="form-control" id="participanteId">
        @foreach (var item in Model.ListaParticipantes)
        {
            <option>@item.Nome</option>
        }
    </select>
</div>


<div class="form-group">
    <label for="">CNPJ/CPF *</label>
    <input asp-for="@Model.Participante.Nome" type="text" class="form-control" id="CnpjCpf" placeholder="Informe o CNPJ ou CPF">
</div>

<script>

    var nome = document.getElementById('participanteId');
    

</script>